<div class="container">
    <div class="row"><p>Input server name</p></div>
    <div class="row">
        <div class="col-xs-10 form-group">
            <label for="serverName">Server Name</label>
            <input id="serverName" type="text"  class="form-control" #serverNameInput></div>
    </div>
    
    <div class="row">
        <div class="col-xs-10 form-group">
            <label for="serverContent">Server Content</label>
            <input id="serverContent" type="text" [(ngModel)]='newServerContent' class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <button class="btn btn-primary" (click)='onAddServer(serverNameInput)'>Add Server</button>
            
        </div>
        <div class="col-xs-5">
            <button class="btn btn-primary" (click)='onAddBlueprint(serverNameInput)'>Add Server Blueprint</button>
        </div>
    </div>
    <div class="row"><div class="col-xs-10">這裡也可以顯示 Local Reference:<span [innerText]='serverNameInput.value'></span></div></div>
</div>
