<div class="container">
  
    <div class="row">
        <div class="col-md-12"><app-cockpit (ServerCreated)="OnServerCreated($event)" (BlueprintCreated)="OnBlueprintCreated($event)"></app-cockpit></div>
      </div>  
  
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="OnChangeFirst()">Change First Element</button>
      <button class="btn btn-danger" (click)="OnDestroyFirst()">Destroy First Element</button>
      <app-server-element *ngFor='let serverElement of defElement' [srvElement]='serverElement' [Ename]='serverElement.name'><p #contentParagraph>[這是從 appComponent 塞到 serverComponent]*****</p></app-server-element>
    </div>
  </div>
</div>